{% extends 'base1.html.twig' %}

{% block body %}

<!-- Material form login -->
<div class="card container">
  <br><br><br>

  <h5 class="card-header info-color white-text text-center py-4">
    <strong>Connexion</strong>
  </h5>

  <!--Card content-->
  <div class="card-body px-lg-5 pt-0">

    <!-- Form -->
    <form class="text-center" style="color: #757575;" method="post" action="{{path('login')}}">

      <!-- Email -->
      <div class="md-form">
        <input type="email" id="materialLoginFormEmail" class="form-control" name="_username">
        <label for="materialLoginFormEmail">E-mail</label>
      </div>

      <!-- Password -->
      <div class="md-form">
        <input type="password" id="materialLoginFormPassword" class="form-control" name="_password">
        <label for="materialLoginFormPassword">Mot de passe</label>
      </div>

      <div class="d-flex justify-content-around">
        <div>
          <!-- Remember me -->
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="materialLoginFormRemember">
            <label class="form-check-label" for="materialLoginFormRemember">Se souvenir de moi</label>
          </div>
        </div>
        <div>
          <!-- Forgot password -->
          <a href="">Mot de passe oublié</a>
        </div>
      </div>

      <input type="hidden" name="_csrf_token"
        value="{{ csrf_token('authenticate') }}">

      <!-- Sign in button -->
      <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Se Connecter</button>

      <!-- Register -->
      <p>Pas encore inscrit?
        <a href="{{ path('register') }}">S'inscrire</a>
      </p>

      <!-- Social login -->

    </form>
    <!-- Form -->

  </div>
<!-- Material form login -->


{% endblock %}
