{% extends 'base1.html.twig' %}

{% block body %}
<!-- Material form register -->
<div class="card container">
  <br><br><br>

  <h5 class="card-header info-color white-text text-center py-4">
      <strong>Inscription</strong>
  </h5>

  <!--Card content-->
  <div class="card-body px-lg-5 pt-0">

      <!-- Form -->
      <form class="text-center" style="color: #757575;" method="post" action="{{path('register')}}">

          <div class="form-row">
              <div class="col">
                  <!-- First name -->
                  <div class="md-form">
                      <input type="text" id="materialRegisterFormFirstName" class="form-control" name="nom">
                      <label for="materialRegisterFormFirstName">Nom</label>
                  </div>
              </div>
              <div class="col">
                  <!-- Last name -->
                  <div class="md-form">
                      <input type="text" id="materialRegisterFormLastName" class="form-control" name="prenom">
                      <label for="materialRegisterFormLastName">Prenoms</label>
                  </div>
              </div>
          </div>

          <!-- E-mail -->
          <div class="md-form mt-0">
              <input type="email" id="materialRegisterFormEmail" class="form-control" name="email">
              <label for="materialRegisterFormEmail">E-mail</label>
          </div>

          <!-- Password -->
          <div class="md-form">
              <input type="password" id="materialRegisterFormPassword" class="form-control"
              aria-describedby="materialRegisterFormPasswordHelpBlock" name="motdepasse">
              <label for="materialRegisterFormPassword">Mot de passe</label>
              <small id="materialRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
                  Au moins 8 caractères
              </small>
          </div>

          <!-- Phone number -->
          <div class="md-form">
              <input type="text" id="materialRegisterFormPhone" class="form-control"
              aria-describedby="materialRegisterFormPhoneHelpBlock" name="profession">
              <label for="materialRegisterFormPhone">Profession</label>
              <small id="materialRegisterFormPhoneHelpBlock" class="form-text text-muted mb-4">
                  Optional - for two step authentication
              </small>
          </div>

          <!-- Newsletter -->
          <div class="form-check">
              <input type="checkbox" class="form-check-input" id="materialRegisterFormNewsletter">
              <label class="form-check-label" for="materialRegisterFormNewsletter">Subscribe to our newsletter</label>
          </div>

          <!-- Sign up button -->
          <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">S'inscrire</button>

          <hr>

          <!-- Terms of service -->
          <p>By clicking
              <em>Sign up</em> you agree to our
              <a href="" target="_blank">terms of service</a>

      </form>
      <!-- Form -->

  </div>
<!-- Material form register -->
{% endblock %}
