<!DOCTYPE html>
<html lang="fr">

  {% include 'creation_questionnaire/basecompte/base.compte.head.html.twig' %}

<body class="grey lighten-3">

  <!--Main Navigation-->
  <header>

    <!-- Navbar -->
      {% include 'creation_questionnaire/basecompte/base.compte.navbar.html.twig' %}
    <!-- Navbar -->

    <!-- Sidebar -->
      {% include 'creation_questionnaire/basecompte/base.compte.sidebar.html.twig' %}
    <!-- Sidebar -->

  </header>
  <!--Main Navigation-->

  <!--Main layout-->


    <main class="pt-5 mx-lg-5">
      <div class="container-fluid mt-5">

        <!-- Heading -->
        {% include 'creation_questionnaire/basecompte/base.compte.heading.html.twig' %}
        <!-- Heading -->

        {% block body %}{% endblock %}

      </div>
    </main>


  <!--Main layout-->

  <!--Footer-->
    {% include "creation_questionnaire/basecompte/base.compte.footer.html.twig" %}
  <!--/.Footer-->

  <!-- SCRIPTS -->
    {% include 'creation_questionnaire/basecompte/base.compte.script.html.twig' %}
</body>

</html>
