{% if etape == 1 %}
    {% include "creation_questionnaire/form/etape1.html.twig" %}
{% endif %}

{% if etape == 2 %}
    {% include "creation_questionnaire/form/etape2.html.twig" %}
{% endif %}

{% if etape == 3 %}
    {% include "creation_questionnaire/form/etape3.html.twig" %}
{% endif %}

{% if etape == 4 %}
    {% include "creation_questionnaire/form/etape4.html.twig" %}
{% endif %}

{% if etape == 5 %}
    {% include "creation_questionnaire/form/etape5.html.twig" %}
{% endif %}
