{% if etape == 1 %}
    {% include "creation_questionnaire/sondage/etape1.html.twig" %}
{% endif %}

{% if etape == 2 %}
    {% include "creation_questionnaire/sondage/etape2.html.twig" %}
{% endif %}

{% if etape == 3 %}
    {% include "creation_questionnaire/sondage/etape3.html.twig" %}
{% endif %}

{% if etape == 4 %}
    {% include "creation_questionnaire/sondage/etape4.html.twig" %}
{% endif %}
