{% if etape == 1 %}
    {% include "creation_questionnaire/test/etape1.html.twig" %}
{% endif %}

{% if etape == 2 %}
    {% include "creation_questionnaire/test/etape2.html.twig" %}
{% endif %}

{% if etape == 3 %}
    {% include "creation_questionnaire/test/etape3.html.twig" %}
{% endif %}

{% if etape == 4 %}
    {% include "creation_questionnaire/test/etape4.html.twig" %}
{% endif %}
