{% if questionnaire.typeqte == "sondage" %}
   {% include 'compte/fiche/1.html.twig' %} 
{% elseif questionnaire.typeqte == "test" %}
    {% include 'compte/fiche/1.html.twig' %} 
{% else %}
    {% include 'compte/fiche/2.html.twig' %}
{% endif %}

