{% extends 'compte/base.compte.html.twig' %}


{% block body %}

<!--Grid row-->
<div class="row">

{% for qte in questionnaires %}
  

    <!--Grid column-->
  <div class="col-md-4 mb-4">

    <!-- Card -->
    <div class="card gradient-card">

        <div class="card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg)">

          <!-- Content -->
          <a href="#!">
            <div class="text-white d-flex h-100 mask {{qte.color}}-rgba">
              <div class="first-content align-self-center p-4">
                <h3 class="card-title">{{qte.titre}}</h3>
                <p class="lead mb-5">{{qte.type}} </p>
              </div>
              <div class="second-content align-self-center mx-auto text-center">
                <i class="fas {{qte.icone}} fa-3x"></i>
              </div>
            </div>
          </a>

        </div>

        <!-- Data -->
        <div class="third-content ml-auto mr-4 mb-2">
          <h4 class="font-weight-bold float-right">{{qte.validite}} Jour(s)</h4>
        </div>

        <!-- Content -->
        <div class="card-body white">
          <h4 class="text-uppercase font-weight-bold my-4">Description</h4>
          <p class="text-muted" align="justify">{{qte.description}} </p>
        </div>

        <div class="third-content ml-auto mr-4 mb-2">
          <div class="float-center">
            <a href="{{path('fiche', {'codeqte' : qte.codeqte})}}">
              <button class="waves-effect waves-light btn-large {{qte.color}} white-text">Voir Fiche Questionnaire</button>
            </a>
          </div>
        </div>

    </div>
    <!-- Card -->

    

  </div>
  <!--Grid column-->

  



{% endfor %}
  

</div>
<!--Grid row-->

{% endblock %}
