{% extends 'base1.html.twig' %}

{% block body %}

<video class="video-intro" poster="https://mdbootstrap.com/img/Photos/Others/background.jpg" playsinline autoplay
  muted loop>
  <source src="https://mdbootstrap.com/img/video/Lines-min.mp4" type="video/mp4">
</video>

<!-- Mask & flexbox options-->
<div class="mask rgba-black-light d-flex justify-content-center align-items-center">

  <!-- Content -->
  <div class="text-center white-text mx-5 wow fadeIn">

    <h1 class="display-4 mb-4">
      <strong>GeassIvoire</strong>
    </h1>

    <!-- Time Counter -->
    <p id="time-counter" class="border border-light my-4"></p>


    <h4 class="mb-4">
      <strong>We're working hard to finish the development of this site. </strong>
    </h4>

    <h4 class="mb-4 d-none d-md-block">
      <strong>Until then have a look at our Free Bootstrap 4 tutorials</strong>
    </h4>

    <a target="_blank" href="" class="btn btn-outline-white btn-lg">
      <i class="fas fa-graduation-cap ml-2">Tutoriel de prise en main</i>
    </a>
  </div>
  <!-- Content -->

</div>
<!-- Mask & flexbox options-->

{% endblock %}
