{% extends 'compte/base.compte.html.twig' %}


{% block body %}

<div class="container">

<!-- Material form contact -->
<div class="card col s12 m6 l6">

    <h2 class="card-header {{questionnaire.colorform}} black-text text-center py-4">
        <strong>Fiche Questionnaire N° : {{questionnaire.codeqte}}</strong>
    </h2>
    <hr>
<!--titre questionnaire -->
    <div class="row col s12 m10 l8">
        <strong>
            <h3 style="text-decoration: underline">Titre :  </h3>
        </strong>
    </div>
    <div col s9 offset-s3 col m10 offset-m2 l10 offset-l2>
        <h4 style="margin-left: 15%;">
            {{questionnaire.titre}}
        </h4>
    </div>

    <hr>
    
    <div class="row col s12 m10 l8">
        <strong>
            <h3 style="text-decoration: underline">Durée de validité initiale : </h3>
        </strong>
    </div>
    <div col s9 offset-s3 col m10 offset-m2 l10 offset-l2>
        <h3 style="margin-left: 30%;">
            {{questionnaire.validite}} Jour(s)
        </h3>
    </div>

    <hr>

    {% if questionnaire.typeqte == "test" %}
        <div class="row col s12 m10 l8">
            <strong>
                <h3 style="text-decoration: underline">Durée d'évaluation : </h3>
            </strong>
        </div>
        <div col s9 offset-s3 col m10 offset-m2 l10 offset-l2>
            <h3 style="margin-left: 25%;">
                {{questionnaire.test}} minute(s)
            </h3>
        </div>
        <hr>
    {% endif %}

   

    <div class="row col s12 m10 l8">
        <strong>
            <h3 style="text-decoration: underline">Couleur de fond choisie :  </h3>
    </div>
    <div col s9 offset-s3 col m10 offset-m2 l10 offset-l2>
            <h3 style="margin-left: 30%;">
                {{questionnaire.couleurfd}}
            </h3>
        </div>

    <hr>
<!--description questionnaire -->
    <div class="row col s12 m10 l8">
        <strong>
            <h3 style="text-decoration: underline">Description : </h3>
        </strong>
    </div>
    <div col s9 offset-s3 col m10 offset-m2 l10 offset-l2>
        <h4 style="margin-left: 15%;">
            {{questionnaire.description}}
        </h4>
    </div>

    <hr>


<!--contenu questionnaire -->
    <!--Card content-->
    <div class="card-body px-lg-5 pt-3">

        <form action="" method="">

            {% for question in questionnaire.questions %}
                <div class="row col s12 m10 l8">
                    <strong>
                        <h3>{{question.intitule}} </h3>
                    </strong>
                </div>
                <hr>

                {% for reponse in question.reponses %}
                    <div class="col s12 m10 l8">
                        <label style="margin-left: 5%;">
                            <input type="{{question.typeform}}" id="{{reponse.codereponse}}" name="{{question.codequestion}}" value="{{reponse.codereponse}}">
                                <span><h4>{{reponse.intireponse}}</h4></span>
                        </label>
                    </div>
                {% endfor %}
                
                
                <br>
            <hr>
            {% endfor %}

            
        </form>
    </div>

</div>
<!-- Material form contact -->
</div>


{% endblock %}