{% extends "creation_questionnaire/base.compte.html.twig" %}


{% block body %}

<div class="container">

<!-- Material form contact -->
<div class="card">

    <h5 class="card-header blue-gradient black-text text-center py-4">
        <strong>Etape 2 : Informations Questions</strong>
    </h5>

    <!--Card content-->
    <div class="card-body px-lg-5 pt-0">

    <h5 class="card-header heavy-rain-gradient black-text text-left py-4">
        <strong>Questionnaire N°000 : azertyuiop</strong>
    </h5>
        <!-- Form -->
        <form class="text-center" style="color: #757575;" method="post" action="{{ path('sond_qte', {'etape' : 2}) }}">

                {% for question in questions %}
                    
                    <!-- intitule -->
                    <div class="md-form mt-3">
                        <input type="text" id="{{question.intitule}}" name="{{question.intitule}}" class="form-control" required>
                        <label for="{{question.intitule}}">Intitulé de la question n° {{question.noquestion}} </label>
                    </div>


                    <!-- Nombre de reponses -->
                    <label>Nombre de réponses</label>
                    <select class="browser-default custom-select" name="{{question.nbreponse}}" required>
                        <option value="2" selected>2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>

                    <!-- type de la question -->
                    <span>Type de la question</span>
                    <select name="{{question.typequestion}}" class="browser-default custom-select" required>
                        <option value="" selected>QCU (choix unique) / QCM (choix multiple)</option>
                        <option value="qcu">QCU</option>
                        <option value="qcm">QCM</option>
                    </select>
                <br>
                <hr>

                {% endfor %}


             


            <!-- Send button -->
            <div class="row col-sm-10 col-md-5 mb-4">
              <button class="btn btn-info btn-inline blue-gradient" type="submit">Suivant</button>
              <button class="btn btn-info btn-inline blue-gradient" type="reset">Effacer</button>
            </div>


        </form>
        <!-- Form -->

    </div>

</div>
<!-- Material form contact -->
</div>

{% endblock %}