{% extends "creation_questionnaire/base.compte.html.twig" %}


{% block body %}

<div class="container">

<!-- Material form contact -->
<div class="card">

    <h5 class="card-header blue-gradient black-text text-center py-4">
        <strong>Etape 3 : Informations Réponses</strong>
    </h5>

    <!--Card content-->
    <div class="card-body px-lg-5 pt-0">

    

        <!-- Form -->
        <form class="text-center" style="color: #757575;" method="post" action="{{ path('sond_qte', {'etape' : 3}) }}">

            {% for reps in reponses %}
                <h5 class="card-header heavy-rain-gradient grey-text text-left py-4">
                    <strong>Question N° {{reps.noquestion}} : <span class="blue-text">{{reps.intitule_question}}</span> </strong>
                </h5>

                {% for rep in reps.reponse %}
                    <!-- intitule_reponse -->
                    <div class="md-form mt-3 col-sm-10 col-md-9 col-lg-8 offset-{{rep.noreponse}}">
                        <input type="text" id="{{rep.intitule_reponse}}" name="{{rep.intitule_reponse}}" class="form-control" required>
                        <label for="{{rep.intitule_reponse}}">Intitulé Réponse n° {{ rep.noreponse }} de Question n° {{ rep.noquestion }} </label>
                    </div>
                {% endfor %}
                
            {% endfor %}

            <hr>

            <!-- Send button -->
            <div class="row col-sm-10 col-md-5 mb-4">
              <button class="btn btn-info btn-inline blue-gradient" type="submit">Suivant</button>
              <button class="btn btn-info btn-inline blue-gradient" type="reset">Effacer</button>
            </div>


        </form>
        <!-- Form -->

    </div>

</div>
<!-- Material form contact -->
</div>

{% endblock %}