<div class="sidebar-fixed position-fixed">

  <a class="logo-wrapper waves-effect">
    <img src="https://mdbootstrap.com/img/logo/mdb-email.png" class="img-fluid" alt="">
  </a>

  <div class="list-group list-group-flush">
    <a href="{{path('compte')}}" class="list-group-item waves-effect">
      <i class="fas fa-table mr-3"></i>Tableau de bord
    </a>
    <a href="{{path('nouveau')}}" class="list-group-item list-group-item-action waves-effect">
      <i class="fas fa-plus mr-3"></i>Nouveau</a>
    <a href="{{path('gestion_qte')}}" class="list-group-item active list-group-item-action waves-effect">
      <i class="fas fa-tasks mr-3"></i>Gestion</a>
    <a href="#" class="list-group-item list-group-item-action waves-effect">
      <i class="fas fa-chart-line mr-3"></i>Statistiques</a>
    <a href="#" class="list-group-item list-group-item-action waves-effect">
      <i class="fas fa-pen mr-3"></i>Modifier</a>
    <a href="#" class="list-group-item list-group-item-action waves-effect">
      <i class="fas fa-trash mr-3"></i>Supprimer</a>
    <a href="{{path('info_compte_client')}}" class="list-group-item list-group-item-action waves-effect">
      <i class="fas fa-user mr-3"></i>Mes Infos</a>
    <a href="" class="list-group-item list-group-item-action waves-effect">
      <i class="fas fa-comments mr-3"></i>Forum</a>
  </div>

</div>
