{% extends "creation_questionnaire/base.compte.html.twig" %}


{% block body %}

<div class="container">

<!-- Material form contact -->
<div class="card">

    <h5 class="card-header peach-gradient-rgba black-text text-center py-4">
        <strong>Etape 1 : Informations Questionnaire</strong>
    </h5>

    <!--Card content-->
    <div class="card-body px-lg-5 pt-0">

        <!-- Form -->
        <form class="text-center" style="color: #757575;" method="post" action="{{ path('form_qte', {'etape' : 1}) }}">

            <!-- titre -->
            <div class="md-form mt-3">
                <input type="text" id="titre" name="titre" class="form-control" required>
                <label for="titre">Titre</label>
            </div>


            <!-- Nombre de questions -->
            <label>Nombre de questions</label>
              <select class="browser-default custom-select" name="nbquestion" required>
                  <option value="1" selected>1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                  <option value="13">13</option>
                  <option value="14">14</option>
                  <option value="15">15</option>
                  <option value="16">16</option>
              </select>
<br/>

            <!-- validité -->
            <span>Durée de validité</span>
            <select name="validite" class="browser-default custom-select" required>
                <option value="1" selected>1 Jour</option>
                <option value="7">1 Semaine</option>
                <option value="14">2 Semaines</option>
                <option value="21">3 Semaines</option>
                <option value="28">1 Mois</option>
                <option value="56">2 Mois</option>
                <option value="84">3 Mois</option>
            </select> 

            <!-- style de fond -->
<!--            <span>Style De Fond</span>
            <select name="style" class="browser-default custom-select" required>
                <option value="geasscolor" selected>Couleur de Geass</option>
                <option value="geasspicture" >Image de Geass</option>
            </select> 
-->
     

            <!-- domaine -->
            <div class="md-form mt-3">
                <input type="text" id="domaine" name="domaine" class="form-control" required>
                <label for="domaine">Domaine d'activité particulier du formulaire</label>
            </div>

            <!-- confirmation -->
            <div class="md-form mt-3">
                <input type="text" id="confirmation" name="confirmation" class="form-control" >
                <label for="confirmation">Phrase de remerciement ou de confirmation</label>
            </div>

            <!--Message-->
            <div class="md-form">
                <textarea id="description" name="description" class="form-control md-textarea" rows="3"></textarea>
                <label for="description">Description</label>
            </div>

            <!-- Send button -->
            <div class="col-sm-10 col-md-5">
              <button class="btn btn-info btn-inline peach-gradient-rgba" type="submit">Suivant</button>
              <button class="btn btn-info btn-inline peach-gradient-rgba" type="reset">Effacer</button>
            </div>


        </form>
        <!-- Form -->

    </div>

</div>
<!-- Material form contact -->
</div>

{% endblock %}