{% extends "creation_questionnaire/base.compte.html.twig" %}


{% block body %}

<div class="container">

<!-- Material form contact -->
<div class="card">

    <h5 class="card-header blue-gradient black-text text-center py-4">
        <strong>Etape 5 : Apparence Questionnaire</strong>
    </h5>

    <!--Card content-->
    <div class="card-body px-lg-5 pt-0 text-center">

        <!-- Form -->

            {% if typestyle.nb == 1 %}

                    <table class="table table-hover">
                        <thead class="black white-text ">
                            <tr>
                            <th scope="col">Couleurs</th>
                            <th scope="col">Choix</th>

                            </tr>
                        </thead>
                        <tbody>

                {% for color in typestyle.color%}
                    
                            <tr>
                                <td>
                                    <h4 class="btn btn-inline flex-center {{color}} black-text text-left py-4 col-sm-12 col-md-12 col-lg-12">
                                        <strong>{{color}}</strong>
                                    </h4>
                                </td>
                                <td>
                                    <a href="{{path('qte_couleur', {'typeqte' : "form", 'nomCouleur' : color})}}">
                                        <button class="btn btn-inline {{color}} py-3 white-text"><i class="fas fa-paint-brush mr-3">OK</i></button>
                                    </a>
                                </td>
                            </tr>
                        

                {% endfor %}
                    </tbody>
                </table>
            {% elseif typestyle.nb == 2 %}
                
            {% endif %}
            


            <hr><hr>


        <!-- Form -->

    </div>

</div>
<!-- Material form contact -->
</div>

{% endblock %}