{% extends "creation_questionnaire/base.compte.html.twig" %}


{% block body %}

<div class="container">

<!-- Material form contact -->
<div class="card">

    <h5 class="card-header peach-gradient black-text text-center py-4">
        <strong>Etape 3 : Informations Réponses</strong>
    </h5>

    <!--Card content-->
    <div class="card-body px-lg-5 pt-0">

    

        <!-- Form -->
        <form class="text-center" style="color: #757575;" method="post" action="{{ path('form_qte', {'etape' : 3}) }}">

            {% for question in questions %}
                <h5 class="card-header heavy-rain-gradient black-text text-left py-4">
                    <strong>Question N° {{question.noquestion}}  de Type : <span class="white-text">{{question.type_question}}</span> </strong>
                    <p>Intitulé : <strong> {{question.intitule_question}} </strong>
                </h5>

                <!-- Nombre de reponses -->
                <label>Nombre de réponses</label>
                <select class="browser-default custom-select" name="{{question.name_nbreponse}}" required>
                    <option value="2" selected>2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>

                <hr>
                
            {% endfor %}

            <hr>

            <!-- Send button -->
            <div class="row col-sm-10 col-md-5 mb-4">
              <button class="btn btn-info btn-inline peach-gradient" type="submit">Suivant</button>
              <button class="btn btn-info btn-inline peach-gradient" type="reset">Effacer</button>
            </div>


        </form>
        <!-- Form -->

    </div>

</div>
<!-- Material form contact -->
</div>

{% endblock %}