<nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar 	d-block d-xl-none">
  <div class="container-fluid ">

    <!-- Brand -->
    <a class="navbar-brand waves-effect" href="https://mdbootstrap.com/docs/jquery/" target="_blank">
      <strong class="blue-text">GeassIvoire</strong>
    </a>

    <!-- Collapse -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <!-- Left -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link waves-effect" href="{{path('compte')}}">Tableau de bord
            <span class="sr-only"></span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect" href="{{path('nouveau')}}" target="_blank">Nouveau</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect" href="/"
            target="_blank">Statistiques</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect" href="" target="_blank">Modifier</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect" href="" target="_blank">Supprimer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect" href="{{path('info_compte_client')}}" target="_blank">Mes Infos</a>
        </li>
      </ul>

      <!-- Right -->
      <ul class="navbar-nav nav-flex-icons">
        <li class="nav-item">
          <a href="https://www.facebook.com/mdbootstrap" class="nav-link waves-effect" target="_blank">
            <i class="fab fa-facebook-f"></i>
          </a>
        </li>
        <li class="nav-item">
          <a href="https://twitter.com/MDBootstrap" class="nav-link waves-effect" target="_blank">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
        <li class="nav-item">
          <a href="https://github.com/mdbootstrap/bootstrap-material-design" class="nav-link border border-light rounded waves-effect"
            target="_blank">
            <i class="fab fa-forumbee mr-2"></i>Forum
          </a>
        </li>
      </ul>

    </div>

  </div>
</nav>
