<!DOCTYPE html>
<html lang="en">

  {% include 'base1.head.html.twig' %}

<body>

  <!-- Navbar -->
  {% include 'base1.navbar.html.twig' %}
  <!-- Navbar -->

  <!-- Full Page Intro -->
  <div class="view">

{% block body %}{% endblock %}

  </div>
  <!-- Full Page Intro -->

  <!--Footer-->
  {% include 'base1.footer.html.twig' %}
  <!--/.Footer-->

  <!-- SCRIPTS -->
  <!-- JQuery -->
  {% include 'base1.script.html.twig' %}
</body>

</html>
