<div class="card mb-4 wow fadeIn">

  <!--Card content-->
  <div class="card-body d-sm-flex justify-content-between">

    <h4 class="mb-2 mb-sm-0 pt-1">
      <a href="{{path('compte')}} ">Mon Compte</a>
      <span>/</span>
      <span>Tableau de bord</span>
    </h4>

    <form class="d-flex justify-content-center">
      <!-- Default input -->
      <input type="search" placeholder="Tapez votre recherche" aria-label="Search" class="form-control">
      <button class="btn btn-primary btn-sm my-0 p" type="submit">
        <i class="fas fa-search"></i>
      </button>

    </form>

  </div>

</div>
